<div>
<h2>Your bookmarks</h2>
<h1><%= @list.name %></h1>
<ul>
  <% @list.bookmarks.each do |bookmark| %>
    <li>
      <%= bookmark.movie.title %> - <%= bookmark.comment %>
      <%= link_to bookmark_path(bookmark), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }  do %>
        <i class="fa-solid fa-trash"></i>
      <% end %>
    </li>
  <% end %>
</ul>

<%= link_to "Add bookmark", new_list_bookmark_path(@list) %>
<%= link_to "See all lists", lists_path %>


 <% @list.movies.each do |movie| %>
      <% bookmark = Bookmark.find_by(list: @list, movie: movie) %>
          <%= image_tag movie.poster_url, alt: movie.title%>
          <%= movie.title %> <%= movie.rating %>
          <%= movie.overview %>
          <%= bookmark.comment %></small>
             <%= link_to "delete", bookmark_path(bookmark), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to remove #{movie.title} from your #{@list.name} list"}, class: 'text-danger' %>
    <% end %>
</div>
