<h1><%= @list.name %></h1>
<h2>Your bookmarks</h2>

<ul>
  <% @list.bookmarks.each do |bookmark| %>
    <li>
      <%= bookmark.movie.title %> - <%= bookmark.comment %>
      <%= link_to bookmark_path(bookmark), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }  do %>
        <i class="fa-solid fa-trash"></i>
      <% end %>
    </li>
  <% end %>
</ul>

<%= link_to "Add bookmark", new_list_bookmark_path(@list) %>
<%= link_to "See all lists", lists_path %>
