<div class="list-show-header">
  <div class= "list-pic-header" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= @list.photo.attached? ? cl_image_path(@list.photo.key) : asset_path('list_background.jpg') %>)">
    <h1><%= @list.name %></h1>
  </div>
</div>

 <div class="bookmarks-title-show">
    <h4>Your bookmarks</h4>
    <%= link_to "Add a movie", new_list_bookmark_path(@list) %>
  </div>

 <%# <%= link_to "See all lists", lists_path %>

  <div class="container-list-show">
    <div class="list-show-card">
      <% @list.movies.each do |movie| %>
          <% bookmark = Bookmark.find_by(list: @list, movie: movie) %>
              <%= image_tag movie.poster_url, alt: movie.title%>
                <div class="list-show-info-card">
                <div class="list-show-star">
                  <%= movie.title %> <%=" · "%> <%= movie.rating %> <%= image_tag ('star_icon.png'), style: 'height:1vw;width:1vw;margin-left:7px;margin-top:2px' %>
                </div>
                  <%= movie.overview %>
                  <%= bookmark.comment %></small>
                </div>
            <div class="lower-card-list-show">
          <%= link_to "Delete", bookmark_path(bookmark), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to remove #{movie.title} from your #{@list.name} list"}, class: 'btn-lower-list' %>
           <% end %>
         <% @list.bookmarks.each do |bookmark| %>
           <div class="list-show-card-title">
           <%= bookmark.movie.title %> - <%= bookmark.comment %>
            </div>
           </div>
            <%# <%= link_to bookmark_path(bookmark), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }  do %>
              <%# <i class="fa-solid fa-trash"></i> %>
            <%# <% end %>
        <% end %>
    </div>
  </div>

  <div class="review-container">
    <div class="review-list">
        <h3>Reviews</h3>
        <br>
        <% if @list.reviews.empty? %>
          <small><em class="text-muted">Be the first one to review this list</em></small>
        <% end %>
        <% @list.reviews.each do |review| %>
          <div>
            <% review.rating.times do %>
              <i class="fas fa-star star-yellow"></i>
            <% end %>
            <small><em class="text-muted"><%= distance_of_time_in_words_to_now(review.created_at) %> ago</em></small>
            <p class="mb-0"><%= review.comment %></p>
          </div>
          <hr>
      <% end %>
    </div>
    <br>
      <div class="create-review">
        <div class="bg-white rounded p-3">
          <h5>Add your review</h5>
          <%= simple_form_for [@list, @review] do |f| %>
            <%= f.input :comment, placeholder: "Add your review here..." %>
            <%= f.input :rating, as: :select, collection: (1..5), required: true, prompt: "What's your rating", input_html: { data: { controller: "star-rating" } } %>
            <%= f.submit class:"btn btn-flat" %>
          <% end %>
        </div>
      </div>
    </div>
  <%# <%= render "bookmarks/modal", list: @list, bookmark: @bookmark %>
