<!DOCTYPE html>
<html>
  <head>
    <title>Movie Watch List</title>
     <meta name="viewport" content="width=device-width,initial-scale=1">
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Alexandria&display=swap" rel="stylesheet">
      <%= favicon_link_tag asset_path('movie-favicon.png') %>

      <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
      <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="body-class">
   <div class="topnav">
    <a class="active" href="#home">Home</a>
      <%= link_to "My lists", lists_path, class: "topnav-right"%>
      <%= link_to "New list", new_list_path, class: "topnav-right"%>
   </div>
    <%= yield %>
    <div class="footer">
      <a href="https://www.notion.so/Tom-Greenwood-s-Portfolio-de5243271f774c86a997a1664e3db82d" target="_blank">· Built and designed by Tom Greenwood ·</a>
    </div>
  </body>
</html>
