<!DOCTYPE html>
<html>
  <head>
    <title>Movie Watch List</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Alexandria&display=swap" rel="stylesheet">
     <%= favicon_link_tag asset_path('movie-favicon.png') %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="body-class">
   <div class="topnav">
    <a class="active" href="#home">Home</a>
    <a href="#news">My lists</a>
    <a href="#contact">New lists</a>
   </div>
    <%= yield %>
  </body>
</html>
